{$PUBLIC_SITE} {
    encode gzip

    handle /api/* {
        reverse_proxy http://127.0.0.1:3000
    }

    handle /api/docs* {
        reverse_proxy http://127.0.0.1:3000
    }

    handle /health* {
        reverse_proxy http://127.0.0.1:3000
    }

    handle {
        reverse_proxy astro-app:4321
    }
}
